<div class="container">
  <div class="card my-4">
    <div class="card-header">
      <h2><%= @product.name %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <% if @product.image.attached? %>
            <%= image_tag @product.image, class: "img-fluid" %>
          <% end %>
        </div>
        <div class="col-md-6">
          <p><strong>Description:</strong> <%= @product.description %></p>
          <p><strong>Price:</strong> $<%= @product.price %></p>
          <p><strong>Inventory:</strong> <%= @product.stock %></p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to "Edit", edit_store_product_path(@store, @product), class: "btn btn-secondary" %>
      <%= link_to "Delete", store_product_path(@store, @product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <%= link_to "Back to Products", store_products_path(@store), class: "btn btn-primary" %>
    </div>
  </div>
</div>
